<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Neo82's Chess Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css" integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">
</head>
<body>
<h1>Neo82's AI Chess Game</h1>
<br>
<br>

<div id="myBoard" style="width: 800px"/>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js" integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD" crossorigin="anonymous"></script>
<script src="../js/chess.js" ></script>
<script>

	var board = null
	var game = new Chess()
	var whiteSquareGrey = '#a9a9a9'
	var blackSquareGrey = '#696969'

	var getBestMove = function(game) {
		if (game.game_over()) {
			alert('Game over');
		}

		var newGameMoves = game.ugly_moves();
		var bestMove = -9999;
		var bestMoveFound;

		for(var i = 0; i < newGameMoves.length; i++) {
			var newGameMove = newGameMoves[i]
			game.ugly_move(newGameMove);
			var value = minimax(2, game, -10000, 10000, false);
			game.undo();
			if(value >= bestMove) {
				bestMove = value;
				bestMoveFound = newGameMove;
			}
		}
		return bestMoveFound;
	};

	var minimax = function (depth, game, alpha, beta, isMaximizer) {
		if (depth === 0) {
			return -evaluateBoard(game.board());
		}

		var newGameMoves = game.ugly_moves();

		if (isMaximizer) {
			var bestMove = -9999;
			for (var i = 0; i < newGameMoves.length; i++) {
				game.ugly_move(newGameMoves[i]);
				bestMove = Math.max(bestMove, minimax(depth - 1, game, alpha, beta, false));
				game.undo();
				alpha = Math.max(alpha, bestMove);
				if (beta <= alpha) {
					return bestMove;
				}
			}
			return bestMove;
		} else {
			var bestMove = 9999;
			for (var i = 0; i < newGameMoves.length; i++) {
				game.ugly_move(newGameMoves[i]);
				bestMove = Math.min(bestMove, minimax(depth - 1, game, alpha, beta, true));
				game.undo();
				beta = Math.min(beta, bestMove);
				if (beta <= alpha) {
					return bestMove;
				}
			}
			return bestMove;
		}
	};

	var evaluateBoard = function (board) {
		var totalEvaluation = 0;
		for (var i = 0; i < 8; i++) {
			for (var j = 0; j < 8; j++) {
				totalEvaluation = totalEvaluation + getPieceValue(board[i][j], i ,j);
			}
		}
		return totalEvaluation;
	};

	var reverseArray = function(array) {
		return array.slice().reverse();
	};

	var pawnEvalWhite =
		[
			[0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0],
			[5.0,  5.0,  5.0,  5.0,  5.0,  5.0,  5.0,  5.0],
			[1.0,  1.0,  2.0,  3.0,  3.0,  2.0,  1.0,  1.0],
			[0.5,  0.5,  1.0,  2.5,  2.5,  1.0,  0.5,  0.5],
			[0.0,  0.0,  0.0,  2.0,  2.0,  0.0,  0.0,  0.0],
			[0.5, -0.5, -1.0,  0.0,  0.0, -1.0, -0.5,  0.5],
			[0.5,  1.0, 1.0,  -2.0, -2.0,  1.0,  1.0,  0.5],
			[0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0]
		];

	var pawnEvalBlack = reverseArray(pawnEvalWhite);

	var knightEval =
		[
			[-5.0, -4.0, -3.0, -3.0, -3.0, -3.0, -4.0, -5.0],
			[-4.0, -2.0,  0.0,  0.0,  0.0,  0.0, -2.0, -4.0],
			[-3.0,  0.0,  1.0,  1.5,  1.5,  1.0,  0.0, -3.0],
			[-3.0,  0.5,  1.5,  2.0,  2.0,  1.5,  0.5, -3.0],
			[-3.0,  0.0,  1.5,  2.0,  2.0,  1.5,  0.0, -3.0],
			[-3.0,  0.5,  1.0,  1.5,  1.5,  1.0,  0.5, -3.0],
			[-4.0, -2.0,  0.0,  0.5,  0.5,  0.0, -2.0, -4.0],
			[-5.0, -4.0, -3.0, -3.0, -3.0, -3.0, -4.0, -5.0]
		];

	var bishopEvalWhite = [
		[ -2.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -2.0],
		[ -1.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0, -1.0],
		[ -1.0,  0.0,  0.5,  1.0,  1.0,  0.5,  0.0, -1.0],
		[ -1.0,  0.5,  0.5,  1.0,  1.0,  0.5,  0.5, -1.0],
		[ -1.0,  0.0,  1.0,  1.0,  1.0,  1.0,  0.0, -1.0],
		[ -1.0,  1.0,  1.0,  1.0,  1.0,  1.0,  1.0, -1.0],
		[ -1.0,  0.5,  0.0,  0.0,  0.0,  0.0,  0.5, -1.0],
		[ -2.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -2.0]
	];

	var bishopEvalBlack = reverseArray(bishopEvalWhite);

	var rookEvalWhite = [
		[  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0],
		[  0.5,  1.0,  1.0,  1.0,  1.0,  1.0,  1.0,  0.5],
		[ -0.5,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0, -0.5],
		[ -0.5,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0, -0.5],
		[ -0.5,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0, -0.5],
		[ -0.5,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0, -0.5],
		[ -0.5,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0, -0.5],
		[  0.0,   0.0, 0.0,  0.5,  0.5,  0.0,  0.0,  0.0]
	];

	var rookEvalBlack = reverseArray(rookEvalWhite);

	var evalQueen =
		[
			[ -2.0, -1.0, -1.0, -0.5, -0.5, -1.0, -1.0, -2.0],
			[ -1.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0, -1.0],
			[ -1.0,  0.0,  0.5,  0.5,  0.5,  0.5,  0.0, -1.0],
			[ -0.5,  0.0,  0.5,  0.5,  0.5,  0.5,  0.0, -0.5],
			[  0.0,  0.0,  0.5,  0.5,  0.5,  0.5,  0.0, -0.5],
			[ -1.0,  0.5,  0.5,  0.5,  0.5,  0.5,  0.0, -1.0],
			[ -1.0,  0.0,  0.5,  0.0,  0.0,  0.0,  0.0, -1.0],
			[ -2.0, -1.0, -1.0, -0.5, -0.5, -1.0, -1.0, -2.0]
		];

	var kingEvalWhite = [

		[ -3.0, -4.0, -4.0, -5.0, -5.0, -4.0, -4.0, -3.0],
		[ -3.0, -4.0, -4.0, -5.0, -5.0, -4.0, -4.0, -3.0],
		[ -3.0, -4.0, -4.0, -5.0, -5.0, -4.0, -4.0, -3.0],
		[ -3.0, -4.0, -4.0, -5.0, -5.0, -4.0, -4.0, -3.0],
		[ -2.0, -3.0, -3.0, -4.0, -4.0, -3.0, -3.0, -2.0],
		[ -1.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -1.0],
		[  2.0,  2.0,  0.0,  0.0,  0.0,  0.0,  2.0,  2.0 ],
		[  2.0,  3.0,  1.0,  0.0,  0.0,  1.0,  3.0,  2.0 ]
	];

	var kingEvalBlack = reverseArray(kingEvalWhite);




	var getPieceValue = function (piece, x, y) {
		if (piece === null) {
			return 0;
		}
		var getAbsoluteValue = function (piece, isWhite, x ,y) {
			if (piece.type === 'p') {
				return 10 + ( isWhite ? pawnEvalWhite[y][x] : pawnEvalBlack[y][x] );
			} else if (piece.type === 'r') {
				return 50 + ( isWhite ? rookEvalWhite[y][x] : rookEvalBlack[y][x] );
			} else if (piece.type === 'n') {
				return 30 + knightEval[y][x];
			} else if (piece.type === 'b') {
				return 30 + ( isWhite ? bishopEvalWhite[y][x] : bishopEvalBlack[y][x] );
			} else if (piece.type === 'q') {
				return 90 + evalQueen[y][x];
			} else if (piece.type === 'k') {
				return 900 + ( isWhite ? kingEvalWhite[y][x] : kingEvalBlack[y][x] );
			}
			throw "Unknown piece type: " + piece.type;
		};

		var absoluteValue = getAbsoluteValue(piece, piece.color === 'w', x ,y);
		return piece.color === 'w' ? absoluteValue : -absoluteValue;
	};
	function removeGreySquares() {
		$('#myBoard .square-55d63').css('background', '')
	}

	function greySquare(square) {
		var $square = $('#myBoard .square-' + square)

		var background = whiteSquareGrey
		if ($square.hasClass('black-3c85d')) {
			background = blackSquareGrey
		}

		$square.css('background', background)
	}

	function onDragStart(source, piece) {
		// do not pick up pieces if the game is over
		if (game.game_over()) {
			return false
		}

		// only pick up pieces for White
		if (piece.search(/^b/) !== -1) {
			return false
		}
	}

	var makeBestMove = function() {
		var bestMove = getBestMove(game);
		game.ugly_move(bestMove);
		board.position(game.fen());
		if (game.game_over()) {
			alert('Game over');
		}
	};

	function onDrop(source, target) {
		removeGreySquares()

		// see if the move is legal
		var move = game.move({
			from : source,
			to : target,
			promotion : 'q' // NOTE: always promote to a queen for example simplicity
		})

		// illegal move
		if (move === null) {
			return 'snapback'
		}

		// make random legal move for black
		window.setTimeout(makeBestMove, 250)
	}

	function onMouseoverSquare(square, piece) {
		// get list of possible moves for this square
		var moves = game.moves({
			square : square,
			verbose : true
		})

		// exit if there are no moves available for this square
		if (moves.length === 0) {
			return
		}

		// highlight the square they moused over
		greySquare(square)

		// highlight the possible squares for this piece
		for (var i = 0; i < moves.length; i++) {
			greySquare(moves[i].to)
		}
	}

	function onMouseoutSquare(square, piece) {
		removeGreySquares()
	}

	function onSnapEnd() {
		board.position(game.fen())
	}

	var config = {
		draggable : true,
		position : 'start',
		onDragStart : onDragStart,
		onDrop : onDrop,
		onMouseoutSquare : onMouseoutSquare,
		onMouseoverSquare : onMouseoverSquare,
		onSnapEnd : onSnapEnd
	}

	board = Chessboard('myBoard', config);
</script>
</body>
</html>